body {
    background-color: #ededed;
}

.avatar-panel {
    margin: 1%;
}

.panel-default, .panel-default>.panel-heading {
    background-color: #fff1cc;
    /*color: #dc7816;*/
    color: black;
}

.panel {
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.little-panel {
    display: inline-block;
    margin-right: 5px;
    width: 24%;
}

.vm-pipe-panel {
    background-color: #dee7a2;
}

.vm-avatar-panel {
    background-color: #fbd5ad;
}

.vm-dashboard-panel {
    background-color: #fbf6bc;
}

.progress {
    position: relative;
    text-align: center;
}

.progress span {
    position: absolute;
    display: block;
    width: 100%;
    color: black;
}